<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<!-- Navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-right navbar-custom" id="my-navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand"> Dholiwood</a>
        </div><!-- end of navbar-header-->
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#home">Home</a> </li>
                <li><a href="latest.html">The Latest</a> </li>
                <li><a href="movies.html">Movies</a> </li>
                <li><a href="music.html">Music</a> </li>
                <li><a href="drama.html">Drama</a> </li>
                <li><a href="garba.html">Garba</a> </li>
                <li><a href="about.html">About Us</a> </li>
                <li><a href="contact.html">Contact Us</a> </li>
            </ul>
        </div><!-- end of navbar-->
    </div><!-- end of container-->
</nav>
</body>
</html>