<div class="div">
    <p>
    <h1>Great source of Information for all Gujarati Movies is building up</h1>
    <h2>by  5 Fantastic Frnds
    <a href="http://www.bhargavjaiswal.com/"> Bhargav Jaiswal</a>,
    <a href="https://www.linkedin.com/in/harpalsinhchauhan">Harpal Chauhan</a>,
    <a href="https://www.facebook.com/rkosamia12">Ronak Kosamia</a>,
    <a href="http://www.jainishshah.com/">Jainish Shah</a> and
    <a href="https://www.linkedin.com/in/henil-shah-2a809487">Henil Shah</a>
    </h2>
    </p>
</div>