<div class="container" fade-in>


    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-right">
               
            </div>

            <div class="page-header">
                
            </div>
          

        </div>

    </div>

     <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-right">
               
            </div>

            <div class="page-header">
                
            </div>
          

        </div>

    </div>
    
    
</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>