<div class="container" fade-in>


    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-center">
            Chello Divas
            </div>

            <div class="page-header">
                <iframe width="100%" height="480" src="https://www.youtube.com/embed/tXIAAtECiA4" frameborder="0"
                        allowfullscreen></iframe>
            </div>


        </div>

    </div>

    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-center">
            Romance Complicated
            </div>

            <div class="page-header">
                <iframe width="100%" height="480" src="https://www.youtube.com/embed/IJfBXfAXZcc" frameborder="0"
                        allowfullscreen></iframe>
            </div>


        </div>

    </div>
    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-center">
            Kevi Rite Jaish
            </div>

            <div class="page-header">
                <iframe width="100%" height="480" src="https://www.youtube.com/embed/yz6Sk_0h9OM" frameborder="0"
                        allowfullscreen></iframe>
            </div>


        </div>

    </div>

    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-center">
            Bas Ek Chance
            </div>

            <div class="page-header">
                <iframe width="100%" height="480" src="https://www.youtube.com/embed/0vCGi7V6AG0" frameborder="0"
                        allowfullscreen></iframe>
            </div>


        </div>

    </div>
    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div style="padding-bottom: 1em;" class="pull-center">
            Bey Yaar
            </div>

            <div class="page-header">
                <iframe width="100%" height="480" src="https://www.youtube.com/embed/aRyNGHbNsaY" frameborder="0"
                        allowfullscreen></iframe>
            </div>


        </div>

    </div>
</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>